* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color:  lightblue;
}

.mainBox {
    margin: 5rem auto;
    height: 20rem;
    width: 44rem;
    background-color: blue;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgb(6, 43, 207);
}